/* use background image */
.cust-jumbo {
    background-image: url("med-software.png");
    margin-bottom: 0;
    padding: 5%;
}

.custom-container {
    border-radius: 10px;
    padding: 1%;
    opacity: 0.9;
}
/* style headshot image */
img {
    width: 200px;
    height: auto;
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
    opacity: 1;
}

#bio {
    margin-top: 2%;
    font-size: 150%
}