li {
    list-style-type: none;
}

#email:hover {
    text-decoration: underline;
}
/* use background image */
.outer-container {
    background-image: url("coding.jpeg");
    display: flex;
    justify-content: space-evenly;
}

.con-info {
    padding: 2%;
    margin: 4%;
    color: black;
    width: 50%;
    border-radius: 20px;
}
/* gives spacing */
form input, form textarea, form button {
    margin-bottom: 2%;
}

form button {
    border-radius: 10px;
    padding: 1%;
    background: #457B9D;
}

form button:hover {
    opacity: 0.7
}