li {
    list-style-type: none;
}

#email:hover {
    text-decoration: underline;
}

.outer-container {
    background-image: url("coding.jpeg");
    display: flex;
    justify-content: space-evenly;
}

.con-info {
    padding: 2%;
    margin: 4%;
    color: black;
    background: white;
    width: 50%;
    border-radius: 20px
}

form label {
    margin-right: 2%;
}

form input {
    display: block;
}

/* not working */
@media screen and (max-width: 768px) {
	.outer-container {
        flex-direction: column
    }
}
