.custom-jumbo {
    background-image: url("coding.jpeg");
    margin-bottom: 0;
}

.custom-container {
    max-width: 50%;
    border-radius: 10px;
    padding: 1%;
    opacity: 0.9;
}

#welcome {
    margin-top: 2%;
}

img {
    width: 200px;
    height: auto;
    box-shadow: 5px 5px 5px gray;
    border-radius: 5px;
    opacity: 1;
}